@import '../../styles/variables';

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  background-color: $primary-color;
  padding-bottom: 60px;

  .topSide {
    width: 100%;
    background-color: $secondary-color;
  }
  .title {
    position: relative;
    font-size: 4rem;
    top: 19px;
    font-weight: 400;
    text-align: center;
    color: $primary-color;
    letter-spacing: 5px;
  }
  .botSide {
    display: flex;
    flex-wrap: wrap;
    padding: 5% 10%;
  }
  .github {
    color: $secondary-color;
    border: solid $secondary-color 2px;
    border-radius: 15px;
    padding: 10px 20px;
    height: fit-content;

    transition: padding 0.3s ease, color 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;

    .icon {
      margin-left: 10px;
    }
    &:hover {
      background-color: $secondary-color;
      color: $primary-color;
    }
    &:focus {
      outline: none;
      box-shadow: 0 0 7px rgba($secondary-color, 0.3);
    }
  }
}
